.blue{
    color: rgb(83, 174, 216);
}
.background{
    background-color: rgb(241, 161, 56);
    margin: 0px;
    border-bottom: 1px solid gray;
}
dl{
    border: 1px solid gray;
    padding: 0px;
    margin: 0px;
}